:root {
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --footer-hero-color: #2f303a;
  --accent-color: #2196f3;
  --main-title-color: #212121;
  --primary-text-color: #757575;
  --primary-margin: 30px;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: var(--primary-margin);
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.header {
  position: relative;
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .nav {
    margin-left: 93px;
  }
}

.nav__list {
  display: flex;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .header-contacts {
    flex-direction: column;
  }
}

.header-contacts__icon--tel,
.header-contacts__icon--mail {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .header-contacts__icon--mail {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__icon--tel {
    width: 10px;
    height: 16px;
  }
}

.nav__item + .nav__item {
  margin-left: 50px;
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:last-child {
    margin-left: 50px;
  }
}

.logo__logo-header {
  color: #000000;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover {
  color: var(--accent-color);
}

.nav__link:focus {
  color: var(--accent-color);
}

.header-contacts__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover {
  color: var(--accent-color);
}

.header-contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 14px;
    line-height: 1,14;
  }
}

@media screen and (max-width: 1199px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__link.current::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.menu-button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .nav__list,
  .header-contacts {
    display: none;
  }
}

/* .current {
color: var(--accent-color);
} */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.hero {
  background-color: var(--footer-hero-color);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 400px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image-mob2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1600;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image-tablet2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image-desktop2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--primary-margin);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  padding: 10px 32px;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn__btn:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(-1 * var(--primary-margin));
    margin-left: calc(-1 * var(--primary-margin));
  }
}

.features__icon-conteiner {
  height: 120px;
  max-width: 450px;
  background-color: var(--secondary-white-color);
  border-radius: 4px;
  margin-bottom: var(--primary-margin);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .features__icon-conteiner {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__icon-conteiner {
    max-width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin-left: var(--primary-margin);
    margin-bottom: var(--primary-margin);
    flex-basis: calc(100% / 2-30px);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.features__item:not(:last-child) {
  margin-bottom: var(--primary-margin);
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .features__text {
    max-width: 354px;
  }
}

/* .features-item::before {
  display: block;
  content: " ";
  height: 120px;
  background-color: var(--secondary-white-color);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: var(--primary-margin);
}
.antenna::before {
  background-image: url(../images/antenna\ 1.svg);
}
.clock::before {
  background-image: url(../images/clock\ 1.svg);
}

.diagram::before {
  background-image: url(../images/diagram\ 1.svg);
}

.astronaut::before {
  background-image: url(../images/astronaut\ 1.svg);
} */
.work {
  padding-top: 0;
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__list {
  display: flex;
  margin-left: calc(-1 * var(--primary-margin));
  flex-wrap: wrap;
}

.work__item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--primary-margin);
}

.work__thumb {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__item-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.team {
  background-color: var(--secondary-white-color);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    margin-left: calc(-1 * var(--primary-margin));
    margin-bottom: calc(-1 * var(--primary-margin));
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: var(--primary-margin);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__thumb {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: var(--primary-margin);
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__thumb {
    padding-bottom: var(--primary-margin);
  }
}

.team-soc__list {
  display: flex;
  justify-content: center;
}

.team-soc__item + .team-soc__item {
  margin-left: 10px;
}

.team-soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc__link:hover, .team-soc__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--primary-margin));
  margin-bottom: calc(-1 * var(--primary-margin));
}

.clients__item {
  display: flex;
  margin-left: var(--primary-margin);
  margin-bottom: var(--primary-margin);
}

@media screen and (max-width: 767px) {
  .clients__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item + .clients__item {
    margin-left: var(--primary-margin);
  }
}

.clients__link {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .clients__link {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.footer {
  background-color: var(--footer-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    justify-content: space-between;
  }
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .adress {
    margin-bottom: 60px;
  }
}

.container-adress {
  flex-grow: 1;
}

.adress__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:focus {
  color: var(--primary-white-color);
}

.adress__link:hover {
  color: var(--primary-white-color);
}

.adress__link span {
  color: var(--primary-white-color);
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (min-width: 1200px) {
  .container-grow {
    flex-grow: 1;
  }
}

.logo__footer-logo {
  color: var(--primary-white-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tab-flex {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-width: 1200px) {
  .footer-tab-flex {
    display: none;
  }
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc {
  flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .footer-soc {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-soc {
    margin-left: 70px;
  }
}

.footer-soc__list {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer-soc__list {
    justify-content: center;
  }
}

.footer-soc__item + .footer-soc__item {
  margin-left: 10px;
}

.footer-soc__link {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--accent-color);
}

.instagram {
  background-image: url(../images/instagramfooter.svg);
}

.twitter {
  background-image: url(../images/twitterfooter.svg);
}

.facebook {
  background-image: url(../images/facebookfooter.svg);
}

.linkedin {
  background-image: url(../images/linkedinfooter.svg);
}

.footer-email {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-email__form {
    display: flex;
    align-items: baseline;
  }
}

.footer-email__input {
  width: 100%;
  outline-color: #000000;
  height: 50px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  color: #afb1b8;
}

.footer-email__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .footer-email__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-email__input {
    width: 358px;
  }
}

.footer-email__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  padding: 10px 62px 10px 29px;
  cursor: pointer;
}

.footer-email__btn::after {
  content: " ";
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  display: block;
  top: 13px;
  right: 28px;
}

@media screen and (min-width: 1200px) {
  .footer-email__btn {
    margin-left: 12px;
  }
}

/* .footer-soc{
display: flex;
} */
.btn-list {
  display: flex;
  column-gap: 8px;
}

@media screen and (max-width: 767px) {
  .btn-list {
    row-gap: 15px;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .btn-list {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}

.btn {
  font-family: inherit;
  background-color: var(--secondary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .port-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--primary-margin));
    margin-bottom: calc(-1 * var(--primary-margin));
  }
}

@media screen and (min-width: 768px) {
  .port-item {
    display: flex;
    margin-left: var(--primary-margin);
    margin-bottom: var(--primary-margin);
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .port-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .port-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.port-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.port-wrap {
  position: relative;
  overflow: hidden;
}

.port-top-text {
  position: absolute;
  height: 100%;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  padding: 77px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .port-top-text {
    padding: 49px 24px 77px;
  }
}

@media screen and (min-width: 1200px) {
  .port-top-text {
    padding: 63px 24px;
  }
}

.port-link:hover .port-top-text {
  transform: translateY(0%);
}

.port-link:focus .port-top-text {
  transform: translateY(0%);
}

.port-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.port-thumb {
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.port-link:hover,
.port-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: auto;
  transform: translate(-50%, -50%);
  padding: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 609px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-close-btn:focus > svg {
  fill: var(--accent-color);
}

.modal-close-btn:hover > svg {
  fill: var(--accent-color);
}

.modal-close-btn > svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.js-menu-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 28px 20px;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 380px) {
  .js-menu-container {
    padding: 48px 40px;
  }
}

@media screen and (min-width: 768px) {
  .js-menu-container {
    display: none;
  }
}

.js-menu-container .container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.js-open-menu {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-open-menu:hover {
  fill: var(--accent-color);
}

.js-open-menu:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .js-open-menu {
    display: none;
  }
}

.js-menu-container.is-open {
  transform: translateX(0);
}

.mob-nav {
  display: flex;
  flex-grow: 1;
  margin-bottom: 20px;
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-close-menu:hover {
  fill: var(--accent-color);
}

.js-close-menu:focus {
  fill: var(--accent-color);
}

.mob-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav__link:hover {
  color: var(--accent-color);
}

.mob-nav__link:focus {
  color: var(--accent-color);
}

.mob-nav__item:not(:last-child) {
  padding-bottom: 32px;
}

.mob-modal-contacts-tel__item {
  padding-bottom: 32px;
}

.mob-modal-contacts-tel__link {
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-modal-contacts-tel__link:hover {
  color: var(--primary-text-color);
}

.mob-modal-contacts-tel__link:focus {
  color: var(--primary-text-color);
}

@media screen and (min-width: 430px) {
  .mob-modal-contacts-tel__link {
    font-size: 34px;
  }
}

.mob-modal-contacts-mail__item {
  padding-bottom: 64px;
}

.mob-modal-contacts-mail__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-modal-contacts-mail__link:hover {
  color: var(--accent-color);
}

.mob-modal-contacts-mail__link:focus {
  color: var(--accent-color);
}

.mob-soc {
  display: flex;
}

.mob-soc-item {
  display: flex;
  flex-wrap: wrap;
}

.mob-soc-link {
  font-weight: 500;
  font-size: 4vw;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-soc-link:focus {
  outline-color: var(--accent-color);
}

@media screen and (min-width: 479px) {
  .mob-soc-link {
    font-size: 18px;
  }
}

.mob-soc-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc-item:not(:first-child) {
  padding-left: 10px;
}

.mob-current {
  color: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.50;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #188ce8;
  color: var(--primary-white-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 55px;
  margin: 0 auto;
  display: block;
}

.form-btn:focus,
.form-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-field {
  display: block;
  margin-bottom: 10px;
}

.form-field:nth-child(4) {
  margin-bottom: 20px;
}

.form-field:nth-child(5) {
  margin-bottom: 30px;
}

.modal-wrap {
  position: relative;
  display: block;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.user-comments {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comments:focus {
  outline: none;
  border-color: var(--accent-color);
}

.user-comments::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .check-text::before{
  content: " ";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  
} */
.check-visible {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-visible:hover {
  cursor: pointer;
}

.check-icon {
  fill: transparent;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.input-check:checked + .check-text > .check-visible {
  background-color: #2196f3;
  border: none;
}

.input-check:checked + .check-text > .check-visible > .check-icon {
  fill: var(--primary-white-color);
}

.input-check:focus + .check-text > .check-visible {
  border: 2px solid var(--accent-color);
}

.modal-input:focus + .form-icon {
  fill: var(--accent-color);
}

.policy-link {
  color: #2196f3;
  text-decoration-skip-ink: none;
}

/* .input-check:checked + .check-text::before{
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/Vector2.svg);
  background-repeat: no-repeat;
  background-position: center;
} */
/*# sourceMappingURL=main.css.map */