.footer {
    background-color: var(--footer-hero-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    display: block;
    margin-bottom: 20px;
}



// .adress-link,
// .adress-mail-link,
// .adress-tel-link {
    .adress__link{   
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus{color:var(--primary-white-color);}
    &:hover{color: var(--primary-white-color);}
    }
.adress__link span{
  color: var(--primary-white-color);
}

.adress__item:not(:last-child) {
    margin-bottom: 9px;
}

// .adress-mail-link:hover,
// .adress-mail-link:focus,
// .adress-tel-link:hover,
// .adress-tel-link:focus {
//     color: var(--primary-white-color);
// }

.container-grow {
    flex-grow: 1;
}
.logo__footer-logo {
    color: var(--primary-white-color);
}

.footer .container {
    // display: flex;
    // align-items: baseline;

}

.join {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
    margin-bottom: 20px;
}

.footer-soc {
    margin-left: 70px;
}

.footer-soc__list {
    display: flex;
}

.footer-soc__item+.footer-soc__item {
    margin-left: 10px;
}

.footer-soc__link {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--accent-color);
        }
}



.instagram {
    background-image: url(../images/instagramfooter.svg);
}

.twitter {
    background-image: url(../images/twitterfooter.svg);
}

.facebook {
    background-image: url(../images/facebookfooter.svg);
}

.linkedin {
    background-image: url(../images/linkedinfooter.svg);
}

.footer-email {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
}

.footer-email__form {
    display: flex;
}

.footer-email__input {
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    color: #afb1b8;
    &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
}


.footer-email__btn {
    position: relative;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    padding: 10px 62px 10px 29px;
    margin-left: 12px;
    cursor: pointer;
    &::after {
            content: " ";
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(../images/icon-send.svg);
            display: block;
            top: 13px;
            right: 28px;
        }
}

// .footer-btn:focus,
// .footer-btn:hover {
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }

/* .footer-soc{
display: flex;
} */