.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.50;
    // line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 12px;
    @media screen and(min-width:1200px) {
        line-height: 1.15;
        
    }
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.form-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.06em;
    background-color: #188ce8;
    color: var(--primary-white-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 55px;
    margin: 0 auto;
    display: block;
}

.form-btn:focus,
.form-btn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-field {
    display: block;
    margin-bottom: 10px;
}

.form-field:nth-child(4) {
    margin-bottom: 20px;
}

.form-field:nth-child(5) {
    margin-bottom: 30px;
}

.modal-wrap {
    position: relative;
    display: block;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-bottom: 4px;
}

.user-comments {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comments:focus {
    outline: none;
    border-color: var(--accent-color);
}

.user-comments::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .check-text::before{
  content: " ";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  
} */

.check-visible {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-visible:hover {
    cursor: pointer;
}

.check-icon {
    fill: transparent;
}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    // font-size: 14px;
    // line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and(min-width:1200px){
    font-size: 14px;
    line-height: 1.71;  
        
    }

}

.input-check:checked+.check-text>.check-visible {
    background-color: #2196f3;
    border: none;
}

.input-check:checked+.check-text>.check-visible>.check-icon {
    fill: var(--primary-white-color);
}

.input-check:focus+.check-text>.check-visible {
    border: 2px solid var(--accent-color);
}

.modal-input:focus+.form-icon {
    fill: var(--accent-color);
}

.policy-link {
    color: #2196f3;
    text-decoration-skip-ink: none;
}

/* .input-check:checked + .check-text::before{
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/Vector2.svg);
  background-repeat: no-repeat;
  background-position: center;
} */