.section-title {
    font-weight: 700;
    // font-size: 36px;
    font-size: 28px;
    // line-height: 1.17;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    // margin-bottom: 50px;
    margin-bottom: var(--primary-margin);
    @media screen and (min-width: 768px){
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
    }
}